<div class="page-header">
  <h1>All Decks<small>All decks are listed below...</small></h1>
</div>

<div class="my-decks">
  <a class="btn btn-primary" href="/user/<%= current_user.id %>/decks">My Decks</a>
</div>
<div class="my-decks">
  <a class="btn btn-primary" href="/decks/new">Create a Deck</a>
</div>

<ul class="pager">
  <li class="previous"><a href="/">Home &larr;</a></li>
</ul>


<div class="row">
  <% Deck.all.each do |deck| %>
    <div class="col-xs-6 col-md-3 deck-results thumbnail">
      <p style="display: none;" class="percent-complete"><%= deck.percent_complete(@user) %></p>
      <h2><%= deck.title %></h2>
      <p>Total Cards: <%= deck.total_cards %></p>
      <p>Correct: <%= deck.answered_correct(@user) %></p>
      <p>Incorrect: <%= deck.answered_incorrect(@user) %></p>
      <% if deck.total_cards <= deck.answered(current_user) %>
        <a href="/decks/new_round/<%= deck.id %>">New Game</a>
      <% else %>
        <a href="/decks/<%= deck.id %>">Play Game</a>
      <% end %>
      <div class="progress progress-striped active">
        <div class="progress-bar progress-bar-success" style="width: <%= deck.percent_correct(@user) %>%">
          % correct
        </div>
        <div class="progress-bar progress-bar-warning" style="width: <%= deck.percent_incorrect(@user) %>%">
          % incorrect
        </div>
      </div>
      <a href="/decks/statistics/<%= deck.id %>" type="btn btn-primary">View Deck Statistics</a>
    </div>
  <% end %>
</div>

<script>
  $(".percent-complete").each(function(index, data){
    var percent = $(data).text();
    console.log(percent);
    if(percent >=  parseInt("100")) {
      $(this).parent().css("background", "#C4FFB0");
    }
  });
</script>
