<div class="page-header">
  <h1>Example page header <small>Subtext for header</small></h1>
</div>

<div class="my-decks">
  <a class="btn btn-primary" href="/user/<%= current_user.id %>/decks">View my decks</a>
</div>

<div class="row">
  <% Deck.all.each do |deck| %>
    <div class="col-xs-6 col-md-3 deck-results">
      <p style="display: none;" class="percent-complete"><%= deck.percent_complete(@user) %></p>
      <a href="/decks/<%= deck.id %>" class="thumbnail">
        <h2><%= deck.title %></h2>
        <p>Total Cards: <%= deck.total_cards %></p>
        <p>Correct: <%= deck.answered_correct(@user) %></p>
        <p>Incorrect: <%= deck.answered_incorrect(@user) %></p>
        <div class="progress progress-striped active">
          <div class="progress-bar progress-bar-success" style="width: <%= deck.percent_correct(@user) %>%">
            % correct           
          </div>
          <div class="progress-bar progress-bar-warning" style="width: <%= deck.percent_incorrect(@user) %>%">
            % incorrect
          </div>
        </div>
      </a>
    </div>
  <% end %>
</div>

<script>
  $(".percent-complete").each(function(index, data){
    var percent = $(data).text();
    console.log(percent);
    if(percent === "100") {
      $(this).next().css("background", "#C4FFB0");
    }
  });
</script>
