<div class="page-header">
  <h1>Example page header <small>Subtext for header</small></h1>
</div>

<div class="my-decks">
  <a class="btn btn-primary" href="/user/<%= current_user.id %>/decks">View my decks</a>
</div>

<div class="row">
  <% Deck.all.each do |deck| %>
    <div class="col-xs-6 col-md-3">
      <a href="/decks/<%= deck.id %>" class="thumbnail">
        <h2><%= deck.title %></h2>
        <p>Total Cards: <%= deck.total_cards %></p>
        <p>Correct: <%= deck.answered_correct(@user) %></p>
        <p>Incorrect: <%= deck.answered_incorrect(@user) %></p>
        <p>Percent complete: <%= deck.percent_complete(@user) %>%</p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="<%= deck.percent_complete(@user) %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= deck.percent_complete(@user) %>%;">
            <span class="sr-only"><%= deck.percent_complete(@user) %>% Complete</span>
          </div>
        </div>
      </a>
    </div>
  <% end %>
</div>

<script>

  // $(".progress-bar").each(function)
  $(".progress-bar").each( function(index, data){
    console.log((data))
  });
  
</script>
