Author: <a href=""><%= @deck.user.email %></a>

<h1><%= @deck.title %></h1>

<%= erb :"deck_views/_deck_cards" %>

<div class="progress progress-striped active">
  <%= erb :"deck_views/_deck_progress_bar" %>
</div>

<p id="deck-id-hidden" style="display: none;"><%= @deck.id %></p>

<script type="text/javascript">
  $(".card-check-form").on("submit", function(e) {
    e.preventDefault();

    var url = $(this).attr("action");
    var data = $(this).serialize();
    var deckId = $("#deck-id-hidden").text();

    function updateProgress(){
      $.ajax({
        type: "GET",
        url: ('/decks/' + deckId),
        dataType: "html",
        success: function(response){
          // var complete = response.complete;
          // var total = response.total;
          // var percent = (complete / total) * 100;
          // console.log(percent);
          $(".progress").html(response);
        }
      });
    }

    $.ajax({
      type: "POST",
      url: url,
      data: data,
      dataType: "json",
      success: function(response){
        if(response.value === true) {
          $("#card-" + response.card_id).css("background", "rgb(95, 183, 87)");
          $("#card-form-" + response.card_id).css("display", "none");
        }
        else {
          $("#card-" + response.card_id).css("background", "rgb(215, 85, 76)");
          $("#card-form-" + response.card_id).css("display", "none");
          $("#term-" + response.card_id).html(response.term);
        }
        updateProgress();
      }
    });
  });
</script>




